a {
    text-decoration: none;
    color: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
margin: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    min-height: auto;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.completed-work-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  background-color: #F8F8F8;
}
.completed-work-h {
  text-align: center;

}



