:root {

  --main-text-color: #646464;
  --h-color: #212121;
  --accent-color: #CAA892;
  --backgroung-main-color: #ffffff;
  --backgroung-secondary-color: #F8F8F8;
  --font-family-main: 'roboto', 'sans-serif';
  --font-family-secondary: 'open sans', 'sans-serif';
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    min-height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.completed-work-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  background-color: #F8F8F8;
}
.completed-work-h {
  text-align: center;
}

  .conteiner{
    margin-left: auto;
    margin-right: auto;
  }

  
  .footer-wrapper {
    display: flex;
    align-items: baseline;
  }
  .footer-wrapper-list:not(:last-child){
    margin-right: 101px;
  }
  

  
  .footer-social {
    margin-left: 70px;
  }
  .social-list{
    display: flex;
    justify-content: space-between;
  }

  
  .social-list-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-list-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:teal ;
    justify-content: center;
    align-items: center;
  }
  

.services-paragraph {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.01em;

    color: #646464;
}

.services {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.6;

    color: #212121;
}

.services-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 3.2;

    color: #212121;
}

.services-description {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -0.01em;

    color: #646464;
}
